*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: white;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem; */
    
    /* border: solid black; */
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 1rem; */
    width: 100%;
    border: solid red;
}
section{
    padding: .5rem;
    width: 90%;
}
.selecoes{
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 5rem;
    border: solid fuchsia;
    
}
.entrada{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
    border: solid orange;
}
.saida{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
    border: solid green;
}