/* ------------------------------------------------ Geral e Body */
*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("img/pexels-adrien-olichon-2387793.jpg");
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
}
/* ------------------------------------------------ Titulo */
h1{
    margin-top: 3rem;
    text-shadow: 2px 2px #0009, -1px -1px #060;
}
/* ------------------------------------------------ Caixa do form */
form{
    background-color: #2228;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    border-radius: 30px;
    
    /* border: solid red; */
}
/* ------------------------------------------------ Todos dentro do form */
form * {
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: .2rem;
    height: 2rem;
    border-radius: 10px;
    border: none;
    width: 20rem;
    transition: .5s;
}
/* ------------------------------------------------ Itens do form */
input, option, #categoria{
    text-align: center;
}
.medidas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: solid orange; */
}
#unidadeEntrada, #unidadeSaida{
    width: 48%;
}
/* Botão para inverter as unidades de medidas */
/* Ps.: em construção */
/* #inverter{
    width: 2rem;
} */

/* Remove as setas de incremento/decremento nos campos de número  */
#valor::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Remove a aparência padrão */
}
/* botão de submit para converter */
#botao{
    width: 10rem;
    font-size:medium;
    text-shadow: 1px 1px #0009;
    color: white;
    background-image: linear-gradient(to left, #060, #ab0205);
    animation: button 2s infinite alternate;
    background-size: 200% 100%;
    border-radius: 20px;
}
#botao:hover{
    scale: 1.07;
}
@keyframes button {
    0% {background-position-x: 0%;}
    100% {background-position-x: 100%;}
}
/* campo para imprimir o resultado */
#saida{
    border: solid #060;
    color: #fff5;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Responsividade para telas menores de 500px */
@media (max-width: 500px) {
    form{
        width: 70vw;
    }
}















.meme{
    display: flex;
    align-items: center;
    justify-content:end;
    width: 100%;
}
.meme > img{
    opacity: 40%;
    padding: 1rem;
    width: 2rem;
    border-radius: 25px;
}
.meme1{
    display: flex;
    align-items: center;
    justify-content:end;
    width: 100%;
}
.meme1 > img{
    /* opacity: 40%; */
    padding: 1rem;
    width: 2rem;
    border-radius: 25px;
}





/* select{
    width: 90%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    height: 5rem;
    
} */