*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 90vw;
    border: solid red;
}

#categoria{
    margin: .5rem;
    width: 20rem;
    border: solid fuchsia;
}
.medidas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: .5rem;
    padding: 0;
    width: 20rem;
    border: solid orange;
}
#unidadeEntrada, #unidadeSaida{
    width: 40%;
}
#valor{
    margin: .5rem;
    border: solid purple;
}
/* Remove as setas de incremento/decremento nos campos de número  */
#valor::-webkit-inner-spin-button, #valor::-webkit-outer-spin-button {
    -webkit-appearance: none;    / Remove a aparência padrão /
    margin: 0;     / Remove qualquer margem adicional
}









button{
    margin: .5rem;
    border: solid blue;
}

#saida{
    margin: .5rem;
    border: solid green;
}

















/* select{
    width: 90%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    height: 5rem;
    
} */