/* -------------------------------------------- Reset */
*{
    padding: 0;
    margin: 0;
}
/* -------------------------------------------- Body e geral*/
body{
    /* background-image: url("/src/img/fundo.gif"); */
    /* background-repeat: repeat; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
    padding: 0 10px;
    background: #222;
    color: #eee;
    font-family:Arial, Helvetica, sans-serif;
}
body::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: #e00408;
    left: 20%;
    top: 20%;
    filter: blur(150px);
}
body::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: #060;
    left: 70%;
    top: 70%;
    filter: blur(150px);
}
/* -------------------------------------------- Header */
header{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    padding-top: 1rem;
}
header > h1{
    margin: 1rem 0;
    text-shadow: 2px 2px #0009, -1px -1px #060;
}
/* ---------------------------------- Espaço principal */
main{
    flex-grow: 1;
}
/* ---------------------------------- Caixa do form */
form{
    background-color: #0005;
    /* backdrop-filter: blur(5px); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    border-radius: 30px;
}
/* ---------------------------------- Todos os itens dentro do form */
form * {
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: .2rem;
    height: 2rem;
    border-radius: 10px;
    border: none;
    width: 20rem;
    transition: .5s;
}
/* ---------------------------------- Itens do form */
input, option, #categoria{
    text-align: center;
}
.medidas{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#unidadeEntrada, #unidadeSaida{
    width: 48%;
}
#valor::-webkit-inner-spin-button { 
    /* Remove as setas de incremento/decremento nos campos de número  */
    -webkit-appearance: none; /* Remove a aparência padrão */
}
#botao{ 
    /* botão de submit do form para converter */
    width: 10rem;
    font-size:medium;
    text-shadow: 1px 1px #0009;
    color: white;
    background-image: linear-gradient(to bottom, #060, #700000);
    animation: button 3s infinite alternate;
    background-size: 100% 200%;
    border-radius: 20px;
}
#botao:hover{
    scale: 1.07;
}
@keyframes button { 
    /* animação do botão*/
    0% {background-position-y: 0%;}
    100% {background-position-y: 100%;}
}
/* ---------------------------------- Saida do resultado*/
#saida{
    border: solid #0606;
    color: #fff5;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* -------------------------------------------- Alivio cómico*/
footer{
    display: flex;
    align-items: center;
    justify-content:end;
    width: 100%;
}
footer > img{
    opacity: 40%;
    padding: 1rem;
    width: 2rem;
    border-radius: 25px;
}
/* -------------------------------------------- Responsividade */
@media (max-width: 500px) { 
    /* Telas menores de 500px */
    form{
        width: 70vw;
    }
}